<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626800981493-129aii93a7igv07qebk13prmai3bjjg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626800981493-129aii93a7igv07qebk13prmai3bjjg3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>626800981493-1lp4gedmunuvafnlobvtvgud27gdc02u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvmOQmUke8OSxGFGb8cxNuAMGWbiLUVA0</string>
	<key>GCM_SENDER_ID</key>
	<string>626800981493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sistconnect</string>
	<key>PROJECT_ID</key>
	<string>sist-connect-97596</string>
	<key>STORAGE_BUCKET</key>
	<string>sist-connect-97596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626800981493:ios:573520ab6dbbea89e11cbc</string>
</dict>
</plist>